<h2><%=t 'devise.basic.sign_up' %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>

  <%= f.button :submit, t('devise.basic.sign_up') %>
<% end %>

<%= render 'devise/shared/links' %>
